<div class="d-flex flex-wrap">
    @foreach (var corpse in Corpses)
    {
        @CorpseTemplate(corpse)
    }
</div>

@code {
    [Parameter]
    public IList<Corpse> Corpses { get; set; } = [];

    private RenderFragment<Corpse> CorpseTemplate = (corpse) =>
    @<div class='skills-item px-3 py-2 m-2 rounded text-dark'>
        <img className="center" src="./images/skull.svg" class="corpse-icon" />
        <h3 className="center">@corpse.Name</h3>
        @if (corpse.Subtitle is not null)
        {
            <h4>@corpse.Subtitle</h4>
        }
        @if (corpse.BirthDate.HasValue)
        {
            <p>@corpse.BirthDate.Value.ToString("yyyy") - @corpse.DeathDate.ToString("yyyy")</p>
        } else
        {
            <p>@corpse.DeathDate.ToString("yyyy")</p>
        }
        <p>@corpse.Description</p>
    </div>;
}